<?xml version="1.0"?>
<launch>

    <!-- Parameterized sample launch file to bringup a robot with pybullet ros wrapper in a ROS ecosystem
         It launches by default a sample R2D2 robot -->

    <arg name="config_file" default="$(find pybullet_ros)/ros/config/pybullet_params_example.yaml" />
    <!-- e.g. from my_ros_pkg.my_env import Environment ; "my_env" is what you set in environment param below-->
    <arg name="plugin_import_prefix" default="pybullet_ros.plugins" />
    <arg name="environment" default="environment" /> <!-- name of python file without the .py inside plugins folder -->
    <arg name="pybullet_gui" default="True" />
    <arg name="robot_urdf_path" default="$(find pybullet_ros)/common/test/urdf/r2d2_robot/r2d2.urdf.xacro" />
    <arg name="pause_simulation" default="False" />
    <arg name="parallel_plugin_execution" default="True" />
    <arg name="robot_pose_x" default="0.0" />
    <arg name="robot_pose_y" default="0.0" />
    <arg name="robot_pose_z" default="0.7" />
    <arg name="robot_pose_yaw" default="0.0" />
    <arg name="fixed_base" default="False" />
    <arg name="use_deformable_world" default="False" /> <!-- enable/disable soft body simulation -->
    <arg name="gui_options" default="" />


    <!-- upload urdf model to ROS param server -->
    <param name="robot_description"
           command="$(find xacro)/xacro $(arg robot_urdf_path)" />

    <!-- robot_state_publisher, publish tf based on /joint_states topic and robot_description param -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" />

    <!-- pybullet ros wrapper -->
    <include file="$(find pybullet_ros)/ros/launch/pybullet_ros_example.launch" >
        <arg name="config_file" value="$(arg config_file)" />
        <arg name="plugin_import_prefix" value="$(arg plugin_import_prefix)" />
        <arg name="environment" value="$(arg environment)" />
        <arg name="pybullet_gui" value="$(arg pybullet_gui)" />
        <arg name="robot_urdf_path" value="$(arg robot_urdf_path)" />
        <arg name="pause_simulation" value="$(arg pause_simulation)" />
        <arg name="parallel_plugin_execution" value="$(arg parallel_plugin_execution)" />
        <arg name="robot_pose_x" value="$(arg robot_pose_x)" />
        <arg name="robot_pose_y" value="$(arg robot_pose_y)" />
        <arg name="robot_pose_z" value="$(arg robot_pose_z)" />
        <arg name="robot_pose_yaw" value="$(arg robot_pose_yaw)" />
        <arg name="fixed_base" value="$(arg fixed_base)" />
        <arg name="use_deformable_world" value="$(arg use_deformable_world)" />
        <arg name="gui_options" value="$(arg gui_options)" />
    </include>

</launch>
