<?xml version="1.0"?>
<launch>    
<!-- Here i added the path file to the xacro R2D2 -->
<!-- /home/ros_user/catkin_ws/src/pybullet_ros/common/test/urdf/worlds/brsu-c025-sim.urdf.xacro -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find pybullet_ros)/common/test/urdf/r2d2_robot/r2d2.urdf.xacro'"/>

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>

  <!-- Combine joint values -->
  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">  
    <remap from="robot_state_publisher" to="r2d2_state_publisher" />
    <param name="use_gui" value="True"/>
  </node> -->

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz"/>
  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find mybot_description)/launch/myrobot.rviz"/-->

</launch>
