<?xml version="1.0"?>
<launch>

    <!-- acrobat robot (simple arm with 2 dof) pybullet_ros bringup -->

    <arg name="config_file" default="$(find pybullet_ros)/ros/config/robots/acrobat_robot_config.yaml" />
    <arg name="robot_urdf_path" default="$(find pybullet_ros)/common/test/urdf/acrobat_robot/acrobat_robot.urdf" />
    <arg name="robot_pose_z" default="0.0" />
    <arg name="fixed_base" default="True" />
    <!--arg name="world_full_path" default="$(find pybullet_ros)/common/worlds/button.world" /-->

    <!-- pybullet ros wrapper -->
    <include file="$(find pybullet_ros)/ros/launch/bringup_robot_example.launch" >
        <arg name="config_file" value="$(arg config_file)" />
        <arg name="robot_urdf_path" value="$(arg robot_urdf_path)" />
        <arg name="robot_pose_z" value="$(arg robot_pose_z)" />
        <arg name="fixed_base" value="$(arg fixed_base)" />
        <!--arg name="world_full_path" value="$(arg world_full_path)" /-->
    </include>

    <!-- qt gui to control robot using side bars -->
    <include file="$(find pybullet_ros)/ros/launch/tools/position_cmd_gui.launch" >

</launch>
